.find-trip {
  background-image: url("/layout-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;

  .search-controls {
    background-color: #ffffffe8;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;

    &__date-picker {
      min-width: 200px;
      width: 100%;
    }
  }
}
