@import "../../../scss/variables";

.invoice-item-display {
  position: relative;
  padding: 10px;

  border: solid $light-box-outline 1px;
  border-radius: 3px;
  margin-bottom: 10px;

  &__description {
    font-weight: 900;
  }

  &__delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  a {
    text-decoration: none;
  }
}
